<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Chọn chế độ: NVR hoặc MultiCam -->
		<add key="Mode" value="NVR"/>

		<!-- Nếu dùng NVR -->
		<add key="NvrIp" value="192.168.1.200"/>
		<add key="NvrPort" value="37777"/>
		<add key="Username" value="admin"/>
		<add key="Password" value="1234"/>
		<add key="Channels" value="0,1,2,3,4,5,6,7,8,9"/>
		<!-- danh sách kênh cần ghi -->

		<!-- Nếu dùng MultiCam -->
		<!-- Format: IP:Port:User:Pass:Channel -->
		<add key="Cameras" value="192.168.1.208:37777:admin:1234:0,
                               192.168.1.110:37777:admin:1234:0"/>

		<!-- Chung -->
		<add key="SaveFolder" value="C:\NvrRecord"/>
		<add key="RecordStartHour" value="8"/>
		<add key="RecordEndHour" value="17"/>
		<add key="RotateMinutes" value="10"/>
		<add key="RetentionDays" value="30"/>
		<add key="MaxStorageGB" value="200"/>
		<add key="MaxLogMB" value="20"/>
	</appSettings>
</configuration>